<button class="btn btn-lg border-0 w-100 h-100 p-0 rounded d-flex justify-content-between align-items-start animate__animated"
        [ngClass]="{ 'btn-main': todo.status === 'NEW', 'bg-emphasized': todo.status === 'DONE', 'animate__fadeIn': todo.id != -1, 'animate__zoomOut': todo.id == -1 }">
  <div class="h-100 d-flex justify-content-end align-items-center ps-2 pe-1">
    <i class="ph-square-thin ph-2x" *ngIf="todo?.status === status.NEW" (click)="changeStatus()"></i>
    <i class="ph-check-square-thin ph-2x" *ngIf="todo?.status === status.DONE"></i>
  </div>
  <div class="h-100 d-flex flex-column justify-content-center align-items-start overflow-hidden text-start p-2 flex-fill small">
    <small>Fällig am: {{ todo.dueDate | date:"dd.MM.yyyy" }}</small>
    <div class="h4 fw-light mb-0">{{ todo.text }}</div>
  </div>
  <div class="h-100 d-flex justify-content-end align-items-center ps-1 pe-2">
    <i class="ph-x-thin ph-2x" (click)="delete($event)"></i>
  </div>
</button>

