$main-color: #00424c
$main-emphasized-color: #007888
$bg-white-transparent: rgba(255, 255, 255, .15)

html, body
  height: 100vh
  width: 100vw
  overflow: hidden

body
  background-image: url('assets/img/concrete-wallpaper.jpg')
  background-image: url('assets/img/malik_1.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed

header
  #logo-holder
    width: 75px
    max-width: 12vw

main
  overflow-y: auto

.btn, header, input
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)

.btn:hover
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)

.btn-main, .bg-main
  background-color: $main-color !important
  color: #eee !important

.bg-emphasized
  background-color: $main-emphasized-color !important
  color: #fff !important

.bg-white-transparent
  background: $bg-white-transparent !important

.bg-none
  background: transparent

input:focus, input.form-control:focus
  outline: none !important
  box-shadow: none !important

i[class^='ph-']
  color: #eee

@media (min-width: 1900px)
  .col-xxxl-2
    flex: 0 0 auto
    width: 16.66666667%
