<div id="content" class="d-flex flex-column justify-content-between align-items-center h-100">
  <header class="w-100 d-flex justify-content-end align-items-center shadow-lg p-1 bg-white-transparent">
    <h1 class="display-3 text-light mx-2 my-1 flex-fill">
      Meine TODOs
    </h1>
    <h1 class="display-2 my-1 pb-0">
      <i class="ph-list-checks-thin ph-lg"></i>
    </h1>
  </header>
  <main class="flex-fill overflow-auto w-100">
    <app-todos></app-todos>

    <router-outlet></router-outlet>
  </main>
  <footer class="w-100">
    <app-add-todo></app-add-todo>
  </footer>
</div>
