<div class="d-flex justify-content-between align-items-center p-2">
  <div class="row m-0 p-0 flex-fill">
    <div class="col-12 col-md-6 px-0 px-md-1 border-0 mb-1 mb-md-0">
      <input type="text" #newTodoTextInput id="new-todo-text"
             class="form-control form-control-lg py-3 text-light border-0 bg-white-transparent"
             placeholder="Neues TODO hinzufügen" [(ngModel)]="todo.text"
             (keyup.enter)="addTodo()">
    </div>
    <div class="col-12 col-md-6 px-0 px-md-1 border-0">
      <div class="input-group shadow">
        <span class="input-group-text bg-white-transparent border-0 text-light">Fällig am<br/>(default: heute)</span>
        <input type="date" id="new-todo-due-date"
               class="form-control form-control-lg py-3 text-light border-0 bg-white-transparent"
               placeholder="Fällig am" (change)="transformValue($event)" (keyup.enter)="addTodo()">
      </div>
    </div>
  </div>
  <i class="ph-paper-plane-right-thin ph-3x mx-1" (click)="addTodo()"></i>
</div>
