<div class="container-fluid">
  <div class="row" id="todos-list">
    <div *ngFor="let todo of getTodos(); let idx = index" class="col-12 col-md-6 col-xl-4 col-xxl-3 col-xxxl-2 px-2 pt-2 pb-1">
      <app-todo [todo]="todo" [idx]="idx"></app-todo>
    </div>
  </div>
</div>
